
@font-face {
	font-family: "self-modern";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/self-modern/self-modern.woff2") format("woff2"),
	url("./assets/fonts/self-modern/self-modern.woff") format("woff"),
	url("./assets/fonts/self-modern/self-modern.otf") format("opentype");
	font-display: auto;
}
@mixin self-modern {
	font-family: "self-modern", serif;
	font-weight: normal;
	font-style: normal;
	text-align: initial;
	font-feature-settings: "case", "liga";
}

@font-face {
	font-family: "self-modern";
	font-weight: normal;
	font-style: italic;
	src: url("./assets/fonts/self-modern/self-modern-italic.woff2") format("woff2"),
		  url("./assets/fonts/self-modern/self-modern-italic.woff") format("woff"),
		  url("./assets/fonts/self-modern/self-modern-italic.otf") format("opentype");
	font-display: auto;
}
@mixin self-modern--italic {
	font-family: "self-modern", serif;
	font-weight: normal;
	font-style: italic;
	text-align: initial;
	font-feature-settings: "case", "liga";
}

@font-face {
	font-family: "self-modern-text";
	font-weight: normal;
	font-style: normal;
	src: url("./assets/fonts/self-modern/self-modern-text.woff2") format("woff2"),
		  url("./assets/fonts/self-modern/self-modern-text.woff") format("woff"),
		  url("./assets/fonts/self-modern/self-modern-text.otf") format("opentype");
	font-display: auto;
}
@mixin self-modern--text {
	font-family: "self-modern-text", serif;
	font-style: normal;
	font-weight: normal;
	text-align: initial;
	font-feature-settings: "case", "liga";
}
