<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title><%=TITLE%></title>
	<meta name="description" content="<%=DESCRIPTION%>"/>
	<meta name="author" content="Marshall Spainhour"/>
</head>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8RXRC4F600"></script>
<script>
	window.dataLayer = (window.dataLayer || []);
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());
	gtag("config", "G-8RXRC4F600");
</script>





<body>

	<div class="measure"></div>
	<h1 class="heading"><em class="emphasized">Making some changes...</em></h1>

	<ul class="footer-list">
		<li class="footer-list-item"><a class="link" href="mailto:hello@marshallspainhour.dev"><span class="circled-number">1</span> <span class="underlined">Send Marshall an email</span></a></li>
	</ul>

	<!--Injected Scripts-->

</body>
</html>