
// Imports
@use "./resets.css";
@use "./fonts.scss";
@use "./colors.scss";

// Constants
$up-step--1: 1.14870;
$up-step--2: 1.31951;
$up-step--3: 1.51572;
$up-step--4: 1.74110;
$up-step--5: 2.00000;
$up-step--6: 2.29740;
$up-step--7: 2.63902;
$up-step--8: 3.03143;
$up-step--9: 3.48220;
$up-step--10: 4.00000;
$down-step--1: 0.87055;
$down-step--2: 0.75786;
$down-step--3: 0.65975;
$down-step--4: 0.57435;
$down-step--5: 0.50000;
$down-step--6: 0.43528;
$down-step--7: 0.37893;
$down-step--8: 0.32988;
$down-step--9: 0.28717;
$down-step--10: 0.25000;





// Base Settings
$body-padding: 1rem;
$hover-transition-duration: 0.15s;
$hover-transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

// Small Mobile Settings (Base Breakpoint at <320pxw)
$ratio-overlay: false;
$heading-font-size: 17px;
$footer-font-size-mod: $down-step--1; // Step constants
$footer-font-size-mod-opposite: $up-step--1; // Step constants
$heading-line-height: 148%;
$heading-letter-spacing-nudge: 1; // Integers
$body-padding-mod: 1; // Step constants, or 1 for neutral
$footer-letter-spacing-nudge: 2; // Integers



:root {
	font-size: $heading-font-size;
}

html {
	background-color: colors.$background;
}

body {
	min-height: 100vh;
	padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;

	color: colors.$primary;
}

.heading {
	max-width: 45ch;

	@include fonts.self-modern;
	font-size: 1rem;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing-nudge * 0.005em;

	text-rendering: geometricPrecision;
}

.footer-list {
	margin-top: $up-step--1 * 1rem * 1.46;
	position: relative;
	bottom: ((1 - (($heading-line-height / 1% / 100) * $up-step--1)) / $up-step--7) * 1em;

	@include fonts.self-modern;
	font-size: $footer-font-size-mod * 1rem;
	line-height: $heading-line-height * $footer-font-size-mod-opposite;
	letter-spacing: $footer-letter-spacing-nudge * 0.005em;

	text-rendering: optimizeLegibility;

	.footer-list-item {
		font-size: inherit;
		text-rendering: inherit;
	}
}

.measure {
	@if ($ratio-overlay) {
		display: block;
	}
	@else {
		display: none;
	}
	width: 100%;
	height: 58.579vh;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	background-color: black;
	opacity: 0.25;
}



.indent {
	margin-left: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod;
}

.emphasized {}

.name {}

.link {
	color: inherit;
	text-decoration: none;
	transition: color $hover-transition-duration $hover-transition-timing-function;

	&:hover,
	&:active,
	&:focus {
		color: colors.$accent;
	}
}

.underlined {
	text-decoration-color: currentColor;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: from-font;
	text-underline-offset: 0.09em;
}

.circled-number {
	font-feature-settings: "case", "liga", "ss04";
}





// Touch Devices
@media (hover: none) {
	.link {
		transition-duration: 50ms ;
	}
}

// Mobile Breakpoint
@media screen and (min-width: 375px) {

	// Breakpoint Settings
	$ratio-overlay: false;
	$heading-font-size: 19px;
	$footer-font-size-mod: $down-step--1; // Step constants
	$footer-font-size-mod-opposite: $up-step--1; // Step constants
	$heading-line-height: 146%;
	$heading-letter-spacing-nudge: 0.4;
	$body-padding-mod: 1; // Step constants (default: 1)
	$footer-letter-spacing-nudge: 1.3;



	.measure {
		@if $ratio-overlay {
			display: unset;
		}
	}
	:root {
		font-size: $heading-font-size;
	}
	body {
		padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod; // Use step constants
	}
	.heading {
		letter-spacing: $heading-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height;
	}
	.footer-list {
		font-size: $footer-font-size-mod * 1rem;
		letter-spacing: $footer-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height * $footer-font-size-mod-opposite;
		bottom: ((1 - (($heading-line-height / 1% / 100) * $footer-font-size-mod-opposite)) / 2) * 1em;
	}
}

// Tablet Breakpoint
@media screen and (min-width: 768px) {
	// Breakpoint Settings
	$ratio-overlay: false;
	$heading-font-size: 27.4px;
	$footer-font-size-mod: $down-step--2; // Step constants
	$footer-font-size-mod-opposite: $up-step--2; // Step constants
	$heading-line-height: 146%;
	$heading-letter-spacing-nudge: -2.2; // Integers
	$body-padding-mod: 1; // Step constants
	$footer-letter-spacing-nudge: -0.3; // Integers



	.measure {
		@if $ratio-overlay {
			display: unset;
		}
		height: 41.421vh;
	}
	:root {
		font-size: $heading-font-size;
	}
	body {
		padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod; // Use step constants
	}
	.heading {
		letter-spacing: $heading-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height;
	}
	.footer-list {
		font-size: $footer-font-size-mod * 1rem;
		letter-spacing: $footer-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height * $footer-font-size-mod-opposite * $down-step--1;
		bottom: ((1 - (($heading-line-height / 1% / 100) * $footer-font-size-mod-opposite)) / 2) * 1em;
	}
}

// Small Desktop Breakpoint
@media screen and (min-width: 1024px) {
	// Breakpoint Settings
	$ratio-overlay: false;
	$heading-font-size: 27.4px;
	$footer-font-size-mod: $down-step--3; // Step constants
	$footer-font-size-mod-opposite: $up-step--3; // Step constants
	$heading-line-height: 144%;
	$heading-letter-spacing-nudge: -2.4; // Integers
	$body-padding-mod: $down-step--1; // Step constants
	$footer-letter-spacing-nudge: 0.6; // Integers



	.measure {
		@if $ratio-overlay {
			display: unset;
		}
		height: 41.421vh;
	}
	:root {
		font-size: $heading-font-size;
	}
	body {
		padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod; // Use step constants
	}
	.heading {
		letter-spacing: $heading-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height;
	}
	.footer-list {
		font-size: $footer-font-size-mod * 1rem;
		letter-spacing: $footer-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height * $footer-font-size-mod-opposite  * $down-step--2;
		bottom: ((1 - (($heading-line-height / 1% / 100) * $footer-font-size-mod-opposite)) / 2) * 1em;
	}
}

// Desktop Breakpoint
@media screen and (min-width: 1440px) {
	// Breakpoint Settings
	$ratio-overlay: false;
	$heading-font-size: 33px;
	$footer-font-size-mod: $down-step--4; // Step constants
	$footer-font-size-mod-opposite: $up-step--4; // Step constants
	$heading-line-height: 144%;
	$heading-letter-spacing-nudge: -3.4; // Integers
	$body-padding-mod: 1; // Step constants
	$footer-letter-spacing-nudge: 0.4; // Integers



	.measure {
		@if $ratio-overlay {
			display: unset;
		}
		height: 41.421vh;
	}
	:root {
		font-size: $heading-font-size;
	}
	body {
		padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod; // Use step constants
	}
	.heading {
		letter-spacing: $heading-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height;
	}
	.footer-list {
		font-size: $footer-font-size-mod * 1rem;
		letter-spacing: $footer-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height * $footer-font-size-mod-opposite * $down-step--3;
		bottom: ((1 - (($heading-line-height / 1% / 100) * $footer-font-size-mod-opposite)) / 2) * 1em;
	}
}

// Large Desktop Breakpoint
@media screen and (min-width: 1920px) {
	// Breakpoint Settings
	$ratio-overlay: false;
	$heading-font-size: 38px;
	$footer-font-size-mod: $down-step--4; // Step constants
	$footer-font-size-mod-opposite: $up-step--4; // Step constants
	$heading-line-height: 146%;
	$heading-letter-spacing-nudge: -2.4; // Integers
	$body-padding-mod: 1; // Step constants
	$footer-letter-spacing-nudge: 0.6; // Integers



	.measure {
		@if $ratio-overlay {
			display: unset;
		}
		height: 41.421vh;
	}
	:root {
		font-size: $heading-font-size;
	}
	body {
		padding: $body-padding * ($heading-line-height / 1% / 100) * $body-padding-mod; // Use step constants
	}
	.heading {
		letter-spacing: $heading-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height;
	}
	.footer-list {
		font-size: $footer-font-size-mod * 1rem;
		letter-spacing: $footer-letter-spacing-nudge * 0.005em;
		line-height: $heading-line-height * $footer-font-size-mod-opposite * $down-step--2;
		bottom: ((1 - (($heading-line-height / 1% / 100) * $footer-font-size-mod-opposite)) / 2) * 1em;
	}
}
