*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   min-width: 100vw;
   width: 100%;
   min-height: 100vh;
   height: 100%;
   box-sizing: border-box;
}

body {
	font-weight: normal;
	text-rendering: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

main {
   width: inherit;
   height: inherit;
}

ol, ul {
   list-style: none;
}

img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
